/* 新設トップページ用CSS */

.hs-body{
    transition: all 2s;
        overflow-x: hidden;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .hs-body-start {
        animation-name: body-start;
        /* 一回分の時間 */
        animation-duration: 3s;
        /* 繰り返し回数 */
        animation-iteration-count: 1;
        /* ゆっくり始まってゆっくり終わる */
        animation-timing-function: ease;
        /* 終了後の状態 */
        animation-fill-mode: forwards;
    }
    
    @keyframes body-start {
        0% {
            visibility: hidden;
            opacity: 0;
        }
        50% {
            visibility: visible;
            opacity: 1;
        }
        100% {
            visibility: visible;
            opacity: 1;
        }
    }
    /* 一番下に敷いたコンテナ */

.hs-base-conteiner {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    /* top: -650px; */
    display: none;
}
/* ローディング画面 */

.hs-load-conteiner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* デスクトップ用 */
.hs-dt-load-inner-conteiner {
    position: absolute;
    width: 30%;
    height: auto;
    top: 10%;
    left: 35%;
}

/* モバイルタブレット用 */
.hs-mbtb-load-inner-conteiner {
    position: absolute;
    width: 100%;
    height: auto;
    top: 10%;
    left: 0%;
}
/* ナビゲーションバー */

.hs-nav {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    z-index: 1100;
}
.hs-nav-conteiner {
    width: 100%;
    float: left;
    display: block;
    text-align: center;
}

.dropdown-menu.show{
    top:0% !important;
    left: 0% !important;
  }
  .hs-dropdown-item{
    margin: 8% 0 0 0 !important;
  }
  .hs-sub-dropdown-menu{
    background-color: #f0eeee !important;
    border: none !important;
  }
  
  .dropdown-item:hover{
    background-color: transparent !important;
    transform: rotate(10deg); 
  }
/* 円周上に配置したアイコンをまとめたコンテナ */

.hs-circle-icon-conteiner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.hs-circle-icon-inner-conteiner {
    position: absolute;
    width: 50%;
    height: 15vmax;
    top: 20%;
    left: 25%;
}
/* アイコンサイズ指定 */

.hs-icon img {
    width: 100%;
    height: 100%;
}

.hs-icon-ani {
    width: 45px;
    height: 45px;
    background: url('icon/icon-spring2.svg');
    background-repeat: no-repeat;
}


/* アイコンホバー */

.hs-icon:hover {
    transition: all .3s;
    transform: scale(1.5) rotateZ(180deg);
}

.hs-icon-ani:hover {
    background: url('icon/icon-spring.svg');
    background-repeat: no-repeat;
    transition: all .3s;
    transform: scale(1.5) rotateZ(180deg);
}


/* 背景ぷかぷか */

.hs-back-icon-conteiner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -499;
}

.hs-back-icon-animation {
    animation-name: hs-back-icon-fadein;
    /* 一回分の時間 */
    animation-duration: 6s;
    /* 繰り返し回数 */
    animation-iteration-count: 1;
    /* ゆっくり始まってゆっくり終わる */
    animation-timing-function: ease;
}

@keyframes hs-back-icon-fadein {
    0% {
        visibility: visible;
        opacity: 0;
    }
    10% {
        opacity: 0;
        transform: scale(1.0, 1.0);
    }
    12% {
        opacity: 1;
        transform: scale(1.2, 1.2);
    }
    15% {
        opacity: 1;
        transform: scale(1.0, 1.0);
    }
    100% {
        opacity: 1;
    }
}

/* トップ画像をまとめたコンテナ(デスクトップ用) */

.hs-dt-topimage-conteiner {
    position: absolute;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    top: 0;
    left: 0;
}


/* トップ画像をまとめたコンテナ(タブレット・モバイル用) */

.hs-mbtb-topimage-conteiner {
    position: absolute;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    /* top: 10%; */
    top: 5%;
    left: 0;
}


/* トップ画像それぞれまとめたコンテナ z-index20(全画面幅共通)*/

.hs-topimage-innner-conteiner {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: table;
    left: 0;
    top: 0;
    z-index: 20;
}


/* トップ画像（左）テーブルセル設定(全画面幅共通)*/

.hs-topimage-left-tablecell {
    display: table-cell !important;
    text-align: center;
}


/* トップ画像（左）レイアウト設定①(デスクトップ用)*/

.hs-dt-topimage-left-layout1 {
    padding-top: 10%;
    margin: 0 45% 0 0;
    display: inline-block;
    padding-bottom: 10vh;
    width: 24%
}


/* トップ画像（左）レイアウト設定②(デスクトップ用)*/

.hs-dt-topimage-left-layout2 {
    width: 70%;
    padding-bottom: 1.12vh;
    padding-right: 10%;
    max-width: 100%;
    height: auto;
}


/* トップ画像（左）レイアウト設定①(モバイル・タブレット用)*/

.hs-mbtb-topimage-left-layout1 {
    /* padding-top: 90%; */
    padding-top: 86%;
    margin: 0 50% 0 0;
    display: inline-block;
    padding-bottom: 10vh;
    width: 45%;
}


/* トップ画像（左）レイアウト設定②(モバイル・タブレット用)*/

.hs-mbtb-topimage-left-layout2 {
    width: 70%;
    padding-bottom: 1.12vh;
    padding-right: 5%;
    max-width: 100%;
    height: auto;
}


/* トップ画像（中央）テーブルセル設定(全画面幅共通)*/

.hs-topimage-center-tablecell {
    display: table-cell!important;
    /* position: static!important; */
    text-align: center;
    /* vertical-align: middle; */
    z-index: 30;
}


/* トップ画像（中央）レイアウト設定①(デスクトップ用)*/

.hs-dt-topimage-center-layout1 {
    bottom: auto;
    padding-top: 15%;
    padding-bottom: 0.5%;
}


/* トップ画像（中央）レイアウト設定②(デスクトップ用)*/

.hs-dt-topimage-center-layout2 {
    /* width: 24%; */
    width: 20%;
    position: absolute;
    left: 40%;
    top: 35%;
    z-index: 31;
    max-width: 100%;
    margin-right: 3%
}


/* トップ画像（中央）レイアウト設定①(モバイル・タブレット用)*/

.hs-mbtb-topimage-center-layout1 {
    bottom: auto;
    /* padding-top: 15%; */
    padding-top: 10%;
    padding-bottom: 0.5%;
    padding-right: 0;
}


/* トップ画像（中央）レイアウト設定②(モバイル・タブレット用)*/

.hs-mbtb-topimage-center-layout2 {
    width: 60%;
    z-index: 31;
}


/* トップ画像（右）テーブルセル設定(デスクトップ用)*/

.hs-dt-topimage-right-tablecell {
    display: table-cell !important;
    text-align: center;
    /* padding-top: 1%; */
}


/* トップ画像（右）テーブルセル設定(モバイル・タブレット用)*/

.hs-mbtb-topimage-right-tablecell {
    display: table-cell !important;
    text-align: center;
    /* padding-top: 88%; */
    padding-top: 83%;
}


/* トップ画像（右）レイアウト設定①(デスクトップ用)*/

.hs-dt-topimage-right-layout1 {
    padding-top: 10%;
    margin: 0 0 0 33%;
    display: inline-block;
    padding-bottom: 10vh;
    width: 24%;
}


/* トップ画像（右）レイアウト設定②(デスクトップ用)*/

.hs-dt-topimage-right-layout2 {
    width: 70%;
    /* margin-top: 1%; */
    margin-left: 51%;
    max-width: 100%;
    height: auto;
}


/* トップ画像（右）レイアウト設定②(モバイル・タブレット用)*/

.hs-mbtb-topimage-right-layout1 {
    padding-top: 2%;
    margin: 0 0% 0 18%;
    display: inline-block;
    padding-bottom: 10vh;
    width: 45%;
}


/* トップ画像（右）レイアウト設定②(モバイル・タブレット用)*/

.hs-mbtb-topimage-right-layout2 {
    width: 70%;
    margin-left: 50%;
    max-width: 100%;
    height: auto;
}
/* スライドショー */


/* 最初画像全て隠す */

.hs-hide {
    visibility: hidden;
}
/* 左側スライドショー */

.hs-left-fade {
    animation-name: left-fadein;
    /* 一回分の時間 */
    animation-duration: 5s;
    /* いつ始まるか */
    /* animation-delay: 5s; */
    /* 繰り返し回数 */
    animation-iteration-count: 1;
    /* ゆっくり始まってゆっくり終わる */
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes left-fadein {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(10%);
    }
    12.5% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
    87.5% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10%);
        opacity: 0;
        visibility: hidden;
    }
}


/* 左側スライドショー */

.hs-right-fade {
    animation-name: right-fadein;
    /* 一回分の時間 */
    animation-duration: 5s;
    /* いつ始まるか */
    /* animation-delay: 5s; */
    /* 繰り返し回数 */
    animation-iteration-count: 1;
    /* ゆっくり始まってゆっくり終わる */
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

@keyframes right-fadein {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10%);
    }
    12.5% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
    87.5% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-10%);
        /*  110%にしないとだめかも*/
        visibility: hidden;
    }
}
/* 画像を入れるリストの設定 */


/* ul用 */

.hs-topimage-ul {
    position: relative;
    width: 100%;
}


/* li用 */

.hs-topimage-li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}


/* 中央画像の背景切り替え */

.hs-fill2 {
    fill: rgb(162, 32, 65) !important;
    transition: all 2s;
}

.hs-fill3 {
    fill: rgb(236, 104, 0) !important;
    transition: all 2s;
}

.hs-fill4 {
    fill: rgb(252, 200, 0) !important;
    transition: all 2s;
}

.hs-fill5 {
    fill: rgb(170, 207, 83) !important;
    transition: all 2s;
}

.hs-fill6 {
    fill: rgb(49, 103, 69) !important;
    transition: all 2s;
}

.hs-fill7 {
    fill: rgb(91, 111, 156) !important;
    transition: all 2s;
}

.hs-fill8 {
    fill: rgb(171, 206, 216) !important;
    transition: all 2s;
}



    
        #footer-content {
            text-align: left !important;
        }
        

            .hs-footer {
                background-color: lightgray;
                position: absolute;
                left: 0;
                width: 100%;
                top: 100%;
                /* height: 30%; */
            }
            
            /* 中デバイス（タブレット, 992px 未満） */
            @media (max-width: 991.98px) {
                .hs-footer{
                background-color: lightgray;
                position: absolute;
                left: 0;
                width: 100%;
                top: 120%;
            }
            .hs-nav-conteiner{
                padding-top: 3rem;
            }
            /* トップ画像をまとめたコンテナ(タブレット・モバイル用) */

.hs-mbtb-topimage-conteiner {
    position: absolute;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    /* top: 10%; */
    top: 5%;
    left: 0;
}

/* トップ画像（左）レイアウト設定①(モバイル・タブレット用)*/

.hs-mbtb-topimage-left-layout1 {
    /* padding-top: 90%; */
    padding-top: 84%;
    margin: 0 50% 0 0;
    display: inline-block;
    padding-bottom: 10vh;
    width: 45%;
}


/* トップ画像（左）レイアウト設定②(モバイル・タブレット用)*/

.hs-mbtb-topimage-left-layout2 {
    width: 70%;
    padding-bottom: 1.12vh;
    padding-right: 5%;
    max-width: 100%;
    height: auto;
}

/* トップ画像（中央）レイアウト設定①(モバイル・タブレット用)*/

.hs-mbtb-topimage-center-layout1 {
    bottom: auto;
    padding-top: 13%;
    padding-bottom: 0.5%;
    padding-right: 0;
}


/* トップ画像（中央）レイアウト設定②(モバイル・タブレット用)*/

.hs-mbtb-topimage-center-layout2 {
    width: 60%;
    z-index: 31;
}

/* トップ画像（右）テーブルセル設定(モバイル・タブレット用)*/

.hs-mbtb-topimage-right-tablecell {
    display: table-cell !important;
    text-align: center;
    padding-top: 82%;
    /* padding-top: 83%; */
}

/* トップ画像（右）レイアウト設定②(モバイル・タブレット用)*/

.hs-mbtb-topimage-right-layout1 {
    padding-top: 2%;
    margin: 0 0% 0 18%;
    display: inline-block;
    padding-bottom: 10vh;
    width: 45%;
}


/* トップ画像（右）レイアウト設定②(モバイル・タブレット用)*/

.hs-mbtb-topimage-right-layout2 {
    width: 70%;
    margin-left: 50%;
    max-width: 100%;
    height: auto;
}
        }


        /* タブレット以上 */
        @media (min-width: 768px) {

            .w-55 {
                width: 85% !important;
                margin: 0 auto;
            }

            .hs-w80 {
                width: auto;
                padding: 1em 2em 1em 0 !important;
            }

            .hs-footer-logo-conteiner {
                margin-right: 5%;
                margin-bottom: 15%;
            }

            .hs-footer-privacymark {
                margin: 1.1em 0 1em 3% !important;
                float: right !important;
            }

            address {
                font-size: 0.8rem;
            }

            small {
                font-size: 0.2rem;
            }

            .hs-logo-a {
                width: 100%;
                margin-right: 0;
            }
        }

        /* 横向きモバイル未満 */
        @media (max-width: 767.98px) {
            .hs-footer {
                background-color: lightgray;
                position: absolute;
                left: 0;
                width: 100%;
                top: 100%;
                padding: 2%;
                /* height: 35%; */     
            }

            .w-980 {
                width: 100% !important;
            }

            .hs-w80 {
                width: 60%;
            }

            .hs-footer-logo-conteiner {
                margin-right: 5%;
                margin-bottom: 5%;
            }

            .hs-footer-privacymark {
                margin: 1.1em 0 1em 0 !important;
                padding: 0 0.5em 0.5em 0.5em !important;
                position: absolute !important;
                right: 0.5rem;
            }

            address {
                font-size: 0.5rem;
            }

            small {
                font-size: 0.1rem;
            }

            #footer-comtent-comp {
                padding: 1rem 0 0 0 !important;
            }

            #footer-content {
                padding-top: 1em;
            }

            .hs-logo-a {
                width: 70%;
                margin-right: 0;
            }
            /* トップ画像をまとめたコンテナ(タブレット・モバイル用) */

.hs-mbtb-topimage-conteiner {
    position: absolute;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    /* top: 10%; */
    top: 5%;
    left: 0;
}

/* トップ画像（左）レイアウト設定①(モバイル・タブレット用)*/

.hs-mbtb-topimage-left-layout1 {
    /* padding-top: 115%; */
    padding-top: 86%;
    margin: 0 50% 0 0;
    display: inline-block;
    padding-bottom: 10vh;
    width: 45%;
}


/* トップ画像（左）レイアウト設定②(モバイル・タブレット用)*/

.hs-mbtb-topimage-left-layout2 {
    width: 70%;
    padding-bottom: 1.12vh;
    padding-right: 5%;
    max-width: 100%;
    height: auto;
}

/* トップ画像（中央）レイアウト設定①(モバイル・タブレット用)*/

.hs-mbtb-topimage-center-layout1 {
    bottom: auto;
    /* padding-top: 40%; */
    padding-top: 10%;
    padding-bottom: 0.5%;
    padding-right: 0;
}


/* トップ画像（中央）レイアウト設定②(モバイル・タブレット用)*/

.hs-mbtb-topimage-center-layout2 {
    width: 60%;
    z-index: 31;
}

/* トップ画像（右）テーブルセル設定(モバイル・タブレット用)*/

.hs-mbtb-topimage-right-tablecell {
    display: table-cell !important;
    text-align: center;
    padding-top: 85%;
    /* padding-top: 112%; */
}

/* トップ画像（右）レイアウト設定②(モバイル・タブレット用)*/

.hs-mbtb-topimage-right-layout1 {
    padding-top: 2%;
    margin: 0 0% 0 18%;
    display: inline-block;
    padding-bottom: 10vh;
    width: 45%;
}


/* トップ画像（右）レイアウト設定②(モバイル・タブレット用)*/

.hs-mbtb-topimage-right-layout2 {
    width: 70%;
    margin-left: 50%;
    max-width: 100%;
    height: auto;
}
        }

