/* 新設トップページ以外の新設ページ用CSS（主に採用ページ･･･） */


/* 既存HPにあった直書きCSS */

.simplemap img {
    max-width: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.staticmap,
.staticmap img {
    max-width: 100% !important;
    height: auto !important;
}

.simplemap .simplemap-content {
    display: none;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}


/* hokushin_old.cssに上書き */

.w-max {
    min-width: 100% !important;
}

.hs-w-980 {
    width: 85%;
    padding: 0 5%;
    margin: auto;
}

#footer-content {
    text-align: left !important;
}

.menu-head-container {
    width: auto !important;
}


/* 高橋が付け足したCSS */


/* ナビゲーションバーデザイン */

.hs-a a:hover {
    color: #cf8816;
}

.hs-a a {
    color: #444;
}

.hs-recruit-main-img {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.hs-recruit-main-title {
    color: #5A3C96;
    font-weight: bold;
    font-size: 1.3rem;
}

.hs-recruit-main-contents {
    color: black;
    font-size: 0.8rem
}

.hs-recruit-logo {
    z-index: 2000;
    background-color: lightgray;
}

.hs-recruit-chart-ul a:hover {
    color: #f39e15;
}

.hs-recruit-chart-ul a {
    color: #444;
}


/* ナビゲーションバーのドロップダウンの表示する場所設定 */


/* home.phpでは設定しなくてよい */

.dropdown-menu {
    font-size: 0.8rem !important;
}

.dropdown-menu.show {
    top: 20% !important;
    left: -40% !important;
}

.hs-dropdown-item {
    margin: 8% 0 0 0 !important;
}

.hs-sub-dropdown-menu {
    background-color: #f0eeee !important;
    border: none !important;
}

.dropdown-item:hover {
    background-color: transparent !important;
    /* transform: rotate(10deg);  */
    color: #202020;
}

.hs-td {
    font-size: 0.8rem;
    padding: 1.2em 0 1.2em 3em;
    text-align: left;
}

.hs-tr {
    border-bottom: 1px dotted #444;
}

.hs-th {
    padding: 1.2em 0 1.2em .5em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
}


/* タブレットよりも大きいサイズで適用 　*/

@media (min-width: 768px) {
    .page-main-title {
        /* width: 15% !important; */
        width: auto !important;
        /* margin: 0 5% 10% 5% !important; */
        margin: 0% 5% !important;
        font-size: 1.2rem !important;
    }
    .page-title-en {
        font-family: "Segoe Script" !important;
        font-size: 2.8rem !important;
        font-weight: normal !important;
        color: #f39e15 !important;
        letter-spacing: -0.1rem !important;
        line-height: 5rem !important;
    }
    .hs-recruit-link-container {
        width: 90%;
        border-top: 1px solid;
        border-bottom: 1px solid;
        display: flex;
        padding: 1% 0;
        margin: 0 auto;
    }
    .hs-recruit-link-title {
        display: flex;
        width: 20%;
    }
    .hs-recruit-heading-chart-p {
        margin: 0 5%;
        width: 30%;
    }
    .hs-recruit-chart-ul {
        display: flex;
        /* margin-left: 60%; */
        margin-left: 35%;
        padding-top: 0.2rem;
        width: 70%;
        margin-bottom: 0 !important;
    }
    .hs-recruit-chart-li {
        /* margin-left: 10%; */
        margin-left: 5%;
    }
    .hs-recruit-message {
        position: relative;
        /* width: 60%; */
        width: 83%;
        height: auto;
        top: 30%;
        margin: 0 auto;
        /* left: 15%; */
    }
    .hs-recruit-message-p {
        font-size: 0.8rem;
    }
    /* メイン */
    .hs-recruit-main-container1 {
        width: 90%;
        margin: 0 auto;
    }
    .hs-recruit-heading-container {
        width: 100%;
    }
    .hs-recruit-main-ul {
        display: flex;
        flex-wrap: wrap;
    }
    .hs-recruit-main-li {
        width: 28%;
        height: auto;
        margin: 0 2.5% 5% 2.5%;
    }
    .hs-footer {
        background-color: lightgray;
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
    }
    .w-55 {
        width: 55% !important;
        margin: 0 auto;
    }
    .hs-w80 {
        width: auto;
        padding: 1em 2em 1em 0 !important;
    }
    .hs-footer-logo-container {
        margin-right: 5%;
        margin-bottom: 15%;
    }
    .hs-footer-privacymark {
        margin: 1.1em 0 1em 3% !important;
        float: right !important;
    }
    address {
        font-size: 0.8rem;
    }
    small {
        font-size: 0.2rem;
        text-align: center;
    }
    .hs-logo-a {
        width: 100%;
        margin-right: 0;
    }
    .hs-recruit-sub-article {
        padding-top: 5%;
        width: 80%;
        margin: 0 auto;
    }
    /* メイン */
    .hs-sub-recruit-main-container1 {
        width: 100%;
        margin: 0 auto;
    }
}


/* 横向きモバイルより小さいサイズで適用 */

@media (max-width: 767.98px) {
    .hs-recruit-link-container {
        width: 100%;
        border-top: 1px solid;
        border-bottom: 1px solid;
        display: flex;
        padding: 1% 0;
        margin-top: 10%;
    }
    .hs-recruit-link-title {
        display: flex;
        width: 50%;
    }
    .hs-recruit-heading-chart-p {
        margin: 0 5%;
        width: 35%;
    }
    .hs-recruit-chart-ul {
        display: block;
        margin-left: 30%;
        padding-top: 0.2rem;
        width: 70%;
        margin-bottom: 0 !important;
    }
    .hs-recruit-chart-li {
        margin-left: 10%;
    }
    .hs-recruit-message {
        position: relative;
        width: 90%;
        height: auto;
        top: 30%;
        margin: 0 auto;
    }
    .hs-recruit-message-p {
        font-size: 0.8rem;
    }
    /* メイン */
    .hs-recruit-main-container1 {
        width: 90%;
        margin: 0 auto;
    }
    /* .hs-recruit-main-container2 {
          position: relative;
          height: 100vh;
          width: 100%;
          left: 0;
          top: 10%;
        } */
    .hs-recruit-heading-container {
        width: 100%;
    }
    .hs-recruit-main-ul {
        display: flex;
        flex-wrap: wrap;
    }
    .hs-recruit-main-li {
        width: 100%;
        height: auto;
        margin: 0 2.5%;
        padding-bottom: 10%;
    }
    .hs-footer {
        background-color: lightgray;
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        padding: 2%;
    }
    .w-980 {
        width: 100% !important;
    }
    .hs-w80 {
        width: 60%;
    }
    .hs-footer-logo-container {
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .hs-footer-privacymark {
        margin: 1.1em 0 1em 0 !important;
        padding: 0 0.5em 0.5em 0.5em !important;
        position: absolute !important;
        right: 0.5rem;
    }
    address {
        font-size: 0.5rem;
    }
    small {
        font-size: 0.1rem;
        text-align: center;
    }
    #footer-comtent-comp {
        padding: 1rem 0 0 0 !important;
    }
    .hs-h1 {
        font-size: 1.5rem !important;
    }
    /* メイン */
    .hs-sub-recruit-main-container1 {
        width: 90%;
        margin: 0 auto;
    }
}


/* タブレット以下 */

@media (max-width: 991.98px) {
    .hs-logo-a {
        width: 70%;
        margin-right: 0;
    }
    .hs-recruit-sub-article {
        padding-top: 5%;
        width: 100%;
        margin: 0 auto;
    }
    .page-main-title {
        width: 100% !important;
        margin: 0 5% 5% 5% !important;
        font-size: 0.8rem !important;
        float: none !important;
    }
    .hs-recruit-message {
        position: relative;
        width: 90%;
        height: auto;
        top: 30%;
        margin: 0 auto;
        left: 0%
    }
    .hs-recruit-message-p {
        font-size: 0.8rem;
    }
    .page-title-en {
        font-family: "Segoe Script" !important;
        font-size: 2rem !important;
        font-weight: normal !important;
        color: #f39e15 !important;
        letter-spacing: -0.1rem !important;
        line-height: 5rem !important;
    }
}


/* デスクトップ用　1200px未満 */

@media (max-width: 1199.98px) {
    .hs-w-980 {
        width: 100% !important;
    }
}


/* エントリーボタン */

.btn-flat-border {
    display: inline-block;
    padding: 1em 4em;
    text-decoration: none;
    border: solid 2px #f39e15;
    border-radius: 3px;
    transition: .4s;
}

.btn-flat-border:hover {
    background: #f39e15;
    color: #fff !important;
}


/* 一覧に戻るボタン */

.btn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f39e15;
    /*ボタン色*/
    border-bottom: solid 4px #cf8816;
    border-radius: 3px;
    margin: 5px 0;
}

.hs-a-button a:hover {
    color: #FFF !important;
}

.btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    /*影を小さく*/
    border-bottom: none;
}

.hs-img-zoom {
    overflow: hidden;
}

.hs-img-zoom img {
    display: block;
    /* 変化に掛かる時間 */
    transition-duration: 0.5s;
}

.hs-img-zoom a:hover img {
    /* 画像の拡大率 */
    transform: scale(1.1);
    /* 変化に掛かる時間 */
    transition-duration: 0.5s;
}


/* 社員の声ここから */

.hs-recruit-card-title {
    font-size: 0.9rem;
}

.hs-recruit-card-text {
    font-size: 0.8rem;
}

.hs-recruit-card-footer {
    font-size: 0.7rem;
}

.hs-recruit-modal-header {
    border-bottom: none !important;
}

.hs-recruit-modal-footer {
    font-size: 0.8rem;
}

.hs-recruit-card {
    padding-right: 0 !important;
    padding-left: 0 !important;
    border-radius: 0 !important;
    filter: drop-shadow(7px 7px 7px darkgray);
}

.hs-voices-p {
    font-weight: normal;
    line-height: 2em;
}


/* modal開いたときに左にずれるのを修正するクラス以下2つ */

.modal-open {
    padding-right: 0px !important;
}

.modal {
    padding-right: 0px !important;
}


/* 社員の声ここまで */


/* 理念ページここから */

.hs-phi-bg-1 {
    background: linear-gradient(rgba(95, 164, 255, 0.349), rgba(0, 60, 255, 0.6));
}

.hs-phi-bg-2 {
    background: linear-gradient(rgba(95, 164, 255, 0.349), rgba(36, 105, 253, 0.6));
}

.hs-phi-bg-3 {
    background: linear-gradient(rgba(150, 196, 255, 0.349), rgba(74, 152, 255, 0.6));
}

.hs-phi-bg-4 {
    background: linear-gradient(rgba(150, 196, 255, 0.349), rgba(112, 174, 255, 0.6));
}


/* 理念ページここまで */


/* サービスページここから */

.page-contenet .page-main-content .service-03 {
    background-image: url(images/rpa.png);
}

.page-contenet .page-main-content .service-04 {
    background-image: url(images/temporary-staffing.png);
}

.page-contenet .page-main-content .service-05 {
    background-image: url(images/recruitment.png);
}

.hs-service-table-top th {
    background: #00A4B3;
    color: #fff;
}

.hs-service-table-side th {
    /* background: #e0ffff; */
    background: #A2D7DE;
    vertical-align: middle !important;
}

.hs-service-table {
    border: 1px solid #00ced1 !important;
    margin-top: 15%;
    box-shadow: 8px 8px 7px 2px grey;
}

.hs-service-table tr {
    border: 1px solid #00ced1 !important;
    text-align: center !important;
    padding: 1em 0.5em !important;
    white-space: normal !important;
}

.hs-service-table th {
    border: 1px solid #00ced1 !important;
    text-align: center !important;
    padding: 1em 0.5em !important;
    white-space: normal !important;
}

.hs-service-table td {
    border: 1px solid #00ced1 !important;
    text-align: center !important;
    padding: 1em 0.5em !important;
    white-space: normal !important;
}


/* サービスページここまで */


/* 既存ホームここから */


/* 中デバイス（タブレット, 768px 以上） */

@media (min-width: 768px) {
    #home-content article section {
        width: 20%;
        height: 196px;
        float: left;
    }
    #home-content article #home-ser-sec1 a,
    #home-content article #home-ser-sec2 a,
    #home-content article #home-ser-sec3 a,
    #home-content article #home-ser-sec4 a,
    #home-content article #home-ser-sec5 a {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #f39e15;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        color: white;
    }
}


/* 小デバイス（横向きモバイル, 768px 未満） */

@media (max-width: 767.98px) {
    #home-content article section {
        width: 50%;
        height: 196px;
        float: left;
    }
    #home-content article #home-ser-sec1 a,
    #home-content article #home-ser-sec2 a,
    #home-content article #home-ser-sec3 a,
    #home-content article #home-ser-sec4 a,
    #home-content article #home-ser-sec5 a {
        display: block;
        width: 100%;
        height: 100%;
        /* border: 1px solid #f39e15; */
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        color: white;
    }
    #main-copy {
        zoom: 70%;
    }
}

#home-content article #home-ser-sec3 a {
    background-image: url(images/top-rpa.png);
}

#home-content article #home-ser-sec4 a {
    background-image: url(images/top-staffing.png);
}

#home-content article #home-ser-sec5 a {
    background-image: url(images/top-recruit.png);
}

#home-content article #home-ser-sec5 a:hover {
    border: 5px solid #f39e15;
    color: #f39e15;
}

#home-content article section p {
    position: relative;
    top: -50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.1em;
    text-align: center;
    color: #fff;
}


/* 既存ホームここまで */


/* 会社概要ここから */

figure {
    position: relative;
    overflow: hidden;
    width: 100%;
}

figcaption {
    position: absolute;
    bottom: -70px;
    /* left: 3%; */
    z-index: 2;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, .6);
    transition: .3s;
}

figure:hover figcaption {
    bottom: 0;
}


/* .hs-map-wrap {
    width: 300px;
    height: 226px;
    margin: 0 auto;
    overflow: hidden;
}

.hs-map-wrap img {
    width: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
}

.hs-map-wrap:hover img {
    opacity: 0.6;
    transition-duration: 0.3s;
} */


/* .hs-map a:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    transition-duration: 0.3s;
} */

.hs-map {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.hs-map-hover-mask {
    position: absolute;
    width: 84.8%;
    top: 7%;
    bottom: 0;
    left: 7.6%;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px;
    height: 17%;
}

.hs-map:hover .hs-map-hover-mask {
    opacity: 1;
    transition-duration: 0.3s;
}


/* 中デバイス（タブレット, 768px 以上） */

@media (min-width: 768px) {
    .hs-map-p {
        padding-top: 20%;
        padding-right: 1.5rem;
    }
    .hs-mb-map-message p {
        font-size: 0.8rem !important;
        padding-left: 5%;
    }
}


/* 小デバイス（横向きモバイル, 768px 未満） */

@media (max-width: 767.98px) {
    .hs-map-p p:first-child {
        padding-top: 5% !important;
    }
    .hs-map-p img {
        width: 10% !important;
    }
    .hs-mb-map-message p {
        /* padding-right: 8% !important; */
        font-size: 0.7rem !important;
        /* padding-left: 17% !important; */
    }
    .hs-mb-map-message {
        width: 70%;
        margin: 0 auto;
    }
}


/* 会社概要ここまで */


/* 福利厚生ここから */

.hs-welfare-main-title {
    color: #444;
    font-weight: bold;
    font-size: 1.3rem;
}

.hs-welfare-title {
    margin-top: 0 !important;
    padding-left: 1.5rem !important;
    margin-bottom: 0 !important;
    width: 100% !important;
}


/* 中デバイス（タブレット, 768px 以上） */

@media (min-width: 768px) {
    .hs-welfare-title {
        padding-left: 1.5rem !important;
        margin-top: 1rem !important;
        margin-bottom: 0 !important;
        width: 100% !important;
    }
}


/* 福利厚生ここまで */


/* 教育・研修ここから */

.hs-training-img {
    width: 100%;
}


/* 中デバイス（タブレット, 768px 以上） */

@media (min-width: 768px) {
    .hs-training-img {
        width: 75%;
    }
}


/* 教育・研修ここまで */