/* 共通CSS */

body {
    color: #444 !important;
    background-color: transparent !important;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    color: #444 !important;
}

a:hover {
    text-decoration: none !important;
    color: #f39e15 !important;
}

nav {
    width: 100%;
    display: block;
    text-align: center;
    float: left;
}

address {
    color: #fff;
}


/* hokushin_old.cssの上書き */

#home-content #home-pol a:hover {
    color: #f39e15 !important;
}

#home-content #home-pol a {
    color: #444;
}


/* ナビゲーションバーデザイン */


/* ホバーしたらくるくまわるところ */

.hs-sub-nuv-btn {
    box-shadow: none !important;
    margin: 0 auto;
    font-size: 0.8rem !important;
    color: #444 !important;
}

.hs-nav-effect a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    /* color: #020202; */
    color: #444;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-weight: 900;
    font-size: 0.7rem;
    overflow: hidden;
    padding: 0 4px !important;
    height: 1.5em;
    font-family: "brandon-grotesque", sans-serif;
}

.hs-nav-effect a span {
    position: relative;
    display: inline-block;
    transition: transform 0.2s;
    /* color: #020202; */
    color: #444;
}

.hs-nav-effect a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 900;
    transform: translate3d(0, 0, 0);
    /* color: #020202; */
    color: #444;
}

.hs-nav-effect a:hover span,
.hs-nav-effect a:focus span {
    transform: translateY(-100%);
    outline: none;
    /* color: #020202; */
    color: #444;
}

.hs-body-start {
    animation-name: body-start;
    /* 一回分の時間 */
    animation-duration: 3s;
    /* 繰り返し回数 */
    animation-iteration-count: 1;
    /* ゆっくり始まってゆっくり終わる */
    animation-timing-function: ease;
    /* 終了後の状態 */
    animation-fill-mode: forwards;
}

@keyframes body-start {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    50% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.hs-nav-link-font {
    font-size: 0.8rem;
    font-weight: normal;
}


/* 応募フォームのエラー処理 ここから*/

input+div .invalid {
    display: none;
}

input+div .valid {
    display: none;
}

input:focus:required:valid {
    background-color: #CDFAD1;
}

input:focus:required:invalid {
    background-color: #F1BDBE;
}

input:focus:required:valid+div .valid {
    display: inline-block;
    margin-top: 0.25rem;
    color: #1BB006;
    font-size: 0.85rem;
}

input:focus:required:invalid+div .invalid {
    display: inline-block;
    margin-top: 0.25rem;
    color: #CB2629;
    font-size: 0.85rem;
}


/* 応募フォームのエラー処理 ここまで*/


/* takahashi add */


/* 中デバイス（タブレット, 992px 未満） */

@media (max-width: 991.98px) {
    .page-contenet .page-main-content {
        float: left;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
}


/* 極小デバイス（縦向きモバイル, 576px 未満） */

@media (max-width: 575.98px) {
    .page-content-voices {
        background-image: url(images/voices2.png);
        height: 35vh;
    }
}

.page-content-voices {
    background-image: url(images/voices.png);
    height: 40vh;
}

.page-content-application-form {
    background-image: url(images/rec_img.jpg);
    height: 15vh;
}

.page-content-partner-synergy {
    background-image: url(images/com_img.jpg);
    height: 15vh;
}