/* 共通CSS */

body {
    color: #444;
    background-color: transparent !important;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    color: #444;
}

a:hover {
    text-decoration: none !important;
    color: #f39e15 !important;
}

nav {
    width: 100%;
    display: block;
    text-align: center;
    float: left;
}

address {
    color: #fff;
}


/* hokushin_old.cssの上書き */

#home-content #home-pol a:hover {
    color: #f39e15 !important;
}

#home-content #home-pol a {
    color: #444;
}


/* ナビゲーションバーデザイン */

.hs-form-file {
    border: gray 1px solid;
    background-color: #f5f5f5;
    padding: 2px;
    color: #444;
    font-size: 70%;
}


/* 小デバイス（横向きモバイル, 768px 未満） */


/* @media (max-width: 767.98px) { */

@media (max-width: 830px) {
    .hs-nav-scroll {
        overflow-x: scroll;
        height: 63vh;
    }
}


/* 極小デバイス（縦向きモバイル, 576px 未満） */


/* @media (max-width: 575.98px) { */

@media screen and (max-width:480px) {
    /*　for iPhone Landscape　(iPhone 横)　*/
    .hs-nav-scroll {
        height: auto !important;
    }
    #wpcf7-f928-p623-o1>form>div.form-row.justify-content-center>div:nth-child(5)>span.wpcf7-form-control-wrap.your-file1>input,
    #wpcf7-f928-p623-o1>form>div.form-row.justify-content-center>div:nth-child(5)>span.wpcf7-form-control-wrap.your-file2>input,
    #wpcf7-f928-p623-o1>form>div.form-row.justify-content-center>div:nth-child(5)>span.wpcf7-form-control-wrap.your-file3>input {
        font-size: 80%;
    }
    .hs-form-file {
        font-size: 70%;
    }
}


/* ホバーしたらくるくまわるところ */

.hs-sub-nuv-btn {
    box-shadow: none !important;
    margin: 0 auto;
    font-size: 0.8rem !important;
    /* color: #444 !important; */
}

.hs-sub-nuv-btn:hover {
    color: #f39e15 !important;
}

.hs-nav-effect a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    /* color: #020202; */
    color: #444;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-weight: 900;
    /* font-size: 1.8rem; */
    overflow: hidden;
    padding: 0 4px !important;
    height: 1.5em;
    font-family: "brandon-grotesque", sans-serif;
}

.hs-nav-effect a span {
    position: relative;
    display: inline-block;
    transition: transform 0.2s;
    /* color: #020202; */
    color: #444;
    font-size: 15px;
}

.hs-nav-effect a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 900;
    transform: translate3d(0, 0, 0);
    /* color: #020202; */
    color: #444;
}

.hs-nav-effect a:hover span,
.hs-nav-effect a:focus span {
    transform: translateY(-100%);
    outline: none;
    /* color: #020202; */
    color: #444;
}


/* .hs-body-start { */


/* animation-name: body-start; */


/* 一回分の時間 */


/* animation-duration: 3s; */


/* 繰り返し回数 */


/* animation-iteration-count: 1; */


/* ゆっくり始まってゆっくり終わる */


/* animation-timing-function: ease; */


/* 終了後の状態 */


/* animation-fill-mode: forwards;
} */


/* @keyframes body-start {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    50% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
} */

.hs-nav-link-font {
    font-size: 0.8rem;
    display: inline !important;
    font-weight: normal;
}


/* 応募フォームのエラー処理 ここから*/

input+div .invalid {
    display: none;
}

input+div .valid {
    display: none;
}

input:focus:required:valid {
    background-color: #CDFAD1;
}

input:focus:required:invalid {
    background-color: #F1BDBE;
}

input:focus:required:valid+div .valid {
    display: inline-block;
    margin-top: 0.25rem;
    color: #1BB006;
    font-size: 0.85rem;
}

input:focus:required:invalid+div .invalid {
    display: inline-block;
    margin-top: 0.25rem;
    color: #CB2629;
    font-size: 0.85rem;
}


/* 応募フォームのエラー処理 ここまで*/


/* takahashi add */


/* 中デバイス（タブレット, 992px 未満） */

@media (max-width: 991.98px) {
    .page-contenet .page-main-content {
        float: left;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
}


/* 極小デバイス（縦向きモバイル, 576px 未満） */

@media (max-width: 575.98px) {
    .page-content-voices {
        background-image: url(images/voices2.jpg) !important;
        height: 35vh !important;
    }
}

.page-content-voices {
    background-image: url(images/voices.jpg);
    height: 40vh !important;
}